<widget xmlns="http://www.w3.org/ns/widgets"
 	    id="http://www.iprofs.nl/w3cwidgets-workshop-widget-api-teacher"
 	    version="1.0"
        width="300"
        height="100"
        >
  <name>Simple API Widget</name>
  <description>widget with basic api usage</description>
  <content src="index.html"/>
  <icon src="images/aapje.jpg"/>
  <author>hier je naam</author>
  <access origin="https://ontwikkelstraat.iprofs.nl/svn/iprofs/nl/iprofs/kgb/20130227/w3cwidgets"/>  
  <license>Free to use and distribute</license>
</widget>
