html {
height:100%; 
max-height:100%; 
padding:0; 
margin:0; 
border:0; 
font-size:80%; 
}

body {
 margin-top:0px;	
 margin-left:0px;
 color: #000000;
 font:normal normal 18px sans-serif;
} 

p
{
    font:normal normal 12px sans-serif;	
}

h1
{
	color: #E32219;
    font:normal normal 20px sans-serif;	
}

.button {
		font-size:15px;
		color:#000;
		text-decoration:none;
		display:block;
		width:150px;
		padding:5px;
		border:1px solid #DDD;
		text-align:center;

		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		-o-border-radius:5px;
		border-radius:5px;

		background:#E32219;

		-webkit-transition: all .4s ease-in-out;
		-moz-transition: all .4s ease-in-out;
		-o-transition: all .4s ease-in-out;
		transition: all .4s ease-in-out;
	}
.button:hover {
		color:#fff;
		border-color:#3278BE;

		background:#7A1F10;
	}
.button:active {
		background:#3278BE;
	}

.button.notransitions {
		-webkit-transition: none;
		-moz-transition: none;
		-o-transition: none;
		transition: none;
	}
